/magic_config.ini
/logs/*
/my_files/*
/tmp_files/*
libs/__pycache__
!/logs/.placeholder
!/my_files/.placeholder
!/tmp_files/.placeholder
/libs/ui/__pycache__/uSTKl_gui.cpython-313.pyc
/libs/cli/__pycache_*
/libs/ui/__pycache_*
